
html, body {
  height: 100%;
}

.document {
    display: table;
    width: 100%;
    height: 100%;
}

.document > div {
    display: table-row;
    width: 100%;
}

.document > div > div {
    display: table-cell;
}

.content > div {
    height: 100%;
}

@import "bootstrap/bootstrap";
