<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Lorem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ipsum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Dolor</a>
            </li>
        </ul>
    </div>
</nav>
