{% if true %}
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Tytuł</th>
            <th>Właściciel</th>
            <th>Data dodania</th>
        </tr>
    {% for meme in memes %}
        <tr>
            <td>{{ meme.id }}</td>
            <td>{{ meme.title }}</td>
            <td>{{ meme.owner }}</td>
            <td>{{ meme.added }}</td>
        </tr>
    {% endfor %}

    </table>
{% else %}

{% endif %}
