<table class="table">
    <tr>
        <th>ID</th>
        <th>Zawartość</th>
        <th>Właściciel</th>
        <th>Data dodania</th>
    </tr>
{% for reply in replies %}
    <tr>
        <td>{{ reply.id }}</td>
        <td>{{ reply.body }}</td>
        <td>{{ reply.owner }}</td>
        <td>{{ reply.added }}</td>
    </tr>
{% endfor %}

</table>
