<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>TestSite</title>
    <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/scss/master.css" />
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/holder.min.js"></script>
</head>
<body>
    <div class="document">
        <div class="header">
            <div>
                {% include 'header.html.twig' %}
            </div><!-- /DIV TD -->
        </div><!-- /HEADER -->

        <div class="content">
            <div>
                <div class="container-fluid" style="height: 100%">
                    <div class="row" style="height: 100%">
                        <div class="col-2 border-right bg-light p-0">
                            <div class="p-2">
                                <input type="text" class="form-control" placeholder="Szukaj...">
                            </div>
                            <hr class="m-0">
                            <div class="mx-3 mt-2 text-muted">
                                <ul class="list-unstyled">
                                    <li>Dodaj</li>
                                    <li>Usuwaj</li>
                                    <ul class="list-unstyled ml-3">
                                        <li>pojedyńczo</li>
                                        <li>grupowo</li>
                                    </ul>
                                    <li>Modyfikuj</li>
                                    <ul class="list-unstyled ml-3">
                                        <li>tytuł</li>
                                        <li>właściciela</li>
                                        <li>datę dodania</li>
                                    </ul>
                                    <li>Odśwież</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col pt-3">
                            <div class="alert alert-warning d-none">
                                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#memes" id="MemeButton">Memy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#users" id="UserButton">Użytkownicy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="ReplyButton">Wszytkie odpowiedzi</a>
                                </li>
                            </ul>
                            <div id="content">
                                {% include 'home_memes.html.twig' %}
                            </div>
                        </div>
                        <div class="col-2">

                        </div>
                    </div>
                </div>
            </div><!-- /DIV TD -->
        </div><!-- /CONTENT -->
    </div><!-- /DOCUMENT -->

    <div class="bg-light border-top">
        <div class="container py-3">
            <div class="card-deck">
                <div class="card border-muted text-muted bg-light">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 class="card-title">Wolna od reklam</h4>
                            <h1 class="oi oi-chat"></h1>
                        </div>
                        <p class="card-text text-justify">Nasza strona nigdy nie będzie posiadała uciążliwych dla użytkownika reklam. Będziemy się utrzymywać z kont premium z dodatkowymi możliwościami.</p>
                    </div>
                </div>
                <div class="card border-muted text-muted bg-light">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 class="card-title">Szybka</h4>
                            <h1 class="oi oi-bolt"></h1>
                        </div>
                        <p class="card-text text-justify">Mamy w nosie cudaczne animacje, jakich teraz pełno. Zależy nam przede wszystkim na prędkości odpowiedzi strony na rządania użytkownika.</p>
                    </div>
                </div>
                <div class="card border-muted text-muted bg-light">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 class="card-title">Tworzona z pasją</h4>
                            <h1 class="oi oi-flag"></h1>
                        </div>
                        <p class="card-text">Ta strona tworzona jest przez osoby, które są mocno zaangażowane w projekt i będą się starać, aby go ciągle wspierać. Prosimy jedynie o wyrazy szacunku.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /FOOTER -->
    <script>{% include 'home.js' %}</script>
</body>
</html>
