<table class="table">
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Admin?</th>
        <th>Stworzony</th>
    </tr>
{% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.isAdmin }}</td>
        <td>{{ user.created }}</td>
    </tr>
{% endfor %}

</table>
