
<button type="button" onclick="LoadData()">Guzik</button>
<p id="demo"></p>

<script type="text/javascript">
function LoadData() {
    var request = new XMLHttpRequest()
    request.open('GET', '/test?q=1', true)

    request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
            document.getElementById('demo').innerHTML = request.responseText
            var data = JSON.parse(request.responseText)
            console.log(data)
        }
    };
    request.send();
}
</script>
